#prev-btn,
#next-btn {
    width: 50px;
    font-size: 24px;
    font-weight: 900;
    box-shadow: inset 0px 0px 9px 9px #CFDCDE;
    position: fixed;
}

#prev-btn:hover,
#next-btn:hover{
  box-shadow: inset 0px 0px 13px 10px #44DE1E;
}

#prev-btn {
  left: 0;
}

#next-btn {
  right: 0;
}

.pageNumber {
    margin: 20px 0;
    font-size: 3rem;
    font-weight: 900;
    display: flex;
    justify-content: center;
}

.pagination {
  margin: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination-btn {
  width: 38px;
  height: 38px;
  margin: 5px;
  background-color: #cfdcded5;
  border: none;
  border-radius: 100%;
}

.pagination button:hover {
  background-color:#43DE1C;
}

.pagination-btn-studi {
  border: 3px solid #43DE1C;
}
.pagination-btn-dif {
  box-shadow: inset 0px 0px 3px 3px #F06C5D;
}

.pagination-btn-all {
  border: 3px solid #43DE1C;
  box-shadow: inset 0px 0px 3px 3px #F06C5D;
}

.game-block {
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-block .game {
  width: 120px;
  height: 120px;
  margin: 1.4rem;
  display: flex;
  justify-content: center;
  align-items:flex-end;
  position: relative;
  border-radius: 20px;  
  background-repeat:no-repeat;
  background-position: center;
  background-size:cover;
}

.game-block .game a {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  outline: none;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.85);
  color: black;
  font-size: 1.2rem;
}

.game-none {
  width: 100%;
  height: 100%;
  background-color: rgba(38, 38, 38, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
}

.words {
  margin-top: 170px;
  border-radius: 15px;
}

.words .item-page {
  max-width: 1100px;
  margin: 0px auto 60px;
  padding: 20px;
  display: grid;
  grid-template-columns: 320px 1fr 17%;
  box-shadow: 0px 0px 7px 7px #CFDCDE;
  border-radius: 20px;
}

.item-page__images img {
  width: 300px;
  border-radius: 20px;
}