.hidden {
    display: none;
}

button {
    cursor: pointer;
}


.choise_element {
    display: flex;
    justify-content: space-around;
}

.audiocall {
    width: 1000px;
    background-color: blue;
    position: relative;
}

.finish_element {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 10;
}

.finish_element_character {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: yellow;
    left: calc(50% - 100px);
    top: 50%;
    transform: translateY(-50%);
    z-index: 15;
    overflow: scroll;
}

.small_img_size {
    width: 20px;
}

.picture_element {
    margin-top: 20px;
    width: 200px;
    margin: 0 auto;

}

.press_element {
    margin-top: 100px;

    width: 100px;
    margin: 0 auto;
    cursor: pointer;
}

.word_main {



    font-size: 22px;
}

.word_character {
    margin-top: 20px;
    text-align: center;
    width: 200px;
    margin: 0 auto;
}

.choise {
    border: 4px double black;
    background: #fc3;
    padding: 10px;
    cursor: pointer;
    width: 100px;
    text-align: center;
    margin-top: 50px;
}

.choise:hover {
    background: rgb(210, 186, 114);
}

.hov {
    margin-top: 20px;
}

.hov:hover {
    background: rgb(210, 186, 114);
}

.element_character {
    width: 300px;
    margin: 0 auto;
    cursor: pointer;
    background: #fc3;
}

.press_element_alternate {
    text-align: center;
}

.press_element_next {
    text-align: center;
}

.level {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    margin: 0;
    padding: 0;
}

.level_dlg {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 500px;
    transform: translate(-50%, -50%);
}


.auth_email {
    display: block;
}