.authorization {
    width: 652px;
    height: 658px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #CFE0E7;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 20%;
    top: 20%;
}

.authorization p {
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.015em;
}

.auth_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth_form input {
    width: 350px;
    height: 40px;
    margin-top: 37px;
    left: 222px;
    top: 235px;    
    background: #CFE0E7;
    border: 1px solid #000000;
    border-radius: 25px;
    text-align: center;
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.015em;
    color: #000000;
    cursor: pointer;
}

.auth_form button {
    width: 420px;
    height: 40px;
    margin-top: 37px;
    left: 157px;
    top: 417px;
    background: #F6A3A3;
    border: 1px solid #000000;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.015em;
    color: #000000;
}

.auth_form button:hover {
  box-shadow: inset 0px 0px 13px 10px #44DE1E;
}

#auth_msg {
    color: red;
}