.container {
  max-width: 1400px;
  margin: 0 auto;
}
header {
    width: 100%;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    position: fixed;
}

.header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__burger {
    cursor: pointer;
}
.header__burger img {
    width: 40px;
    height: 40px;
}
.header__authorization {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 100%;
    border: 1px solid black; 
    cursor: pointer;
}
.header__authorization img {
    width: 25px;
    height: 25px;
}

.header__Logo a {
    outline: none;
    text-decoration: none;
    color: black;
    font-family: 'Petit Formal Script';
    font-size: 1.5rem;
}

.menu {
    width: 403px;
    height: 100%;
    padding-top: 82px;
    padding-left: 60px;
    background-color: rgba(217, 235, 237, 1);
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
}

.links-menu div {
    margin-bottom: 22px;
    cursor: pointer;
}

.links-menu div:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu a {
    outline: none;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.menu a img {
    width: 25px;
    height: 25px; 
    margin-right: 13px;
}

.togle-menu {
    margin-bottom: 50px;
    padding-right: 20px;
    display: flex;
    justify-content: end;
}

.herro {
    width: 100%;
    height: 800px;
    background-image: url(https://images.unsplash.com/photo-1603205431143-ce58f21799a4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80);
    background-position: center;
}

.main__statistics-block {
    height: 966px;
    background-image: url(https://images.unsplash.com/photo-1634117622592-114e3024ff27?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1025&q=80);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
}

.main__statistics-block .main__statistics-text {
    width: 590px;
    height: 669px;
    padding-top: 15%;
    margin-left: 50%;
}

.main__statistics-block h2 {
    margin-bottom: 36px;
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.04em;
}

.main__statistics-block p {
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 54px;
    text-align: center;
    letter-spacing: 0.05em;
}