.main__video {
    height: 897px;
    background-image: url(https://images.unsplash.com/photo-1470790376778-a9fbc86d70e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=704&q=80);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;

    &-shadow {
        width: 100%;
        height: 100%;
        padding: 93px 0 100px;
        background: rgba(218, 233, 240, 0.69);
    }

    h2 {
        margin-bottom: 81px;
        font-family: 'Tahoma';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 58px;
        text-align: center;
        letter-spacing: 0.02em;
    }

    .video {
        margin: 0 50%;
        transform: translate(-50%);
    }
}